.orders {
    padding: 20px 80px;
}
.orders > div > h1 {
    margin: 30px 0;
    border: 1px solid lightgray;

    padding: 10px;
    background-color: #f6f6f6 !important;
}
.orders__borders {
    border: 1px solid lightgray;
    padding: 10px;
}
